.container
  .row
    .col-md-4
      #sidenav(data-spy="affix")
        .sidebar.hidden-print(role="complementary")
          %img.img-responsive.img-rounded(alt="Western Hearts Pacific Skies EP" src="img/western_hearts_pacific_skies_ep_cover.png")
            %hr
            %ul.nav.nav-list
              %li
                %a(href="#we-had-so-much-left-to-explore") We Had So Much Left To Explore
              %li
                %a(href="#promontory") Promontory
              %li
                %a(href="#sunchasers") Sunchasers
              %li
                %a(href="#the-columbia-light") The Columbia Light
              %li
                %a(href="#october-sky") October Sky
            %hr

    .col-md-8
      %div(role="main")
        %h2
          Western Hearts &middot; Pacific Skies EP
          %small
            %span.label.label-primary 2015
        %hr
        $html_lyrics$

:javascript
  jQuery(function() {
    jQuery('ul.nav a[href="index.html"]').parent().addClass('active');
  });
